body {
    font-family: 'Rethink Sans', sans-serif; 
    margin: 0;
    padding: 0;
    background: #000000;
}

/* Titles and headings */
h1, h2, h3, .header, .navigation a { 
    font-family: 'Dela Gothic One', display; 
    color: white;
}

/* Paragraph text */
p, .content { 
    font-family: 'Rethink Sans', sans-serif;
    color: white;
}

.header {
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0; 
}

.header h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    animation: slideIn 1s ease-in-out forwards;
    margin: 0 auto; 
}


input[type="file"], textarea {
  width: 100%;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
